@import "../../responsive.scss";

.filter {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    h1 {
        font-size: 1.5rem;
        font-weight: 300;
    }

    .item{
        display: flex;
        flex-direction: column;
        gap: 0.2rem;

        label{
            font-size: 0.8rem;
        }

        input,select{
            width: 6rem;
            padding: 0.8rem;
            border: 1px solid rgb(214, 214, 214);
            border-radius: 0.3rem;
            font-size: 0.8rem;
        }
    }

    .top{
        input{
            width: 100%;
        }
    }

    .bottom{
        display: flex;
        justify-content: space-between;
        gap: 1rem;

        @include sm{
            flex-direction: column;
        }

        button{
            width: 100px;
            padding: 10px;
            background-color: #fda521;
            border: none;
            cursor: pointer;
            border-radius: 0.2rem;
            
            img{
                height: 24px;
                width: auto;
            }
        }
    }
}